body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6; 
}

a {
    color: #428ee4;
    text-decoration: none;
}
a:hover {
    color: #ff6347;
    background-color: rgba(66, 142, 228, 0.1);
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-top: 20px;
}

h3{
    background-color: #86888e;
    color: white;
    line-height: 35px;
    padding-left:10px;
    border-radius: 5px;
    box-shadow: 0 2px 15px #888888;
}

p{
    text-indent: 2em;
    line-height: 1.6;
}

.dt {
    text-align: center;
    margin-bottom: 20px;
}

table{
    text-align: center;
    font-weight: bold;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px;
    box-shadow: 0 2px 15px #888888;
    background: linear-gradient(45deg, #f3f4f6, #ffffff);
    border-radius: 8px; 
}